body {
    background-color: #ecebeb;
}

.bg-sch-color {
    background-color: #fbff0020;
    padding-top: 5px;
    padding-bottom: 10%;
}

.bg-wtr-color {
    background-color: #ff000070;
    padding-top: 5px;
}

#currentWeather {
    background-color: #61ac5e70;
    padding-bottom: 10%;
    border-radius: 5px;
}

.dayforecast {
    background-color: #007bff;
    color: #fff;
    font-size: small;
    margin: 10px;
    border-radius: 5px;
    
}


.hide {
    display: none;
}
